.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelfTitle {
  border-bottom: 1px solid #dedede;
}

.bookshelfBooks {
  text-align: center;
}
